    body{
    background-image: url(https://i.imgur.com/eW73B0R.jpg);
    }
    header{
    text-align: center;
    color: rgb(37, 0, 105);
    }
    .vertical-menu {
    position: fixed;
    text-align: center;
    background: rgb(81, 0, 231);
    color: rgb(242, 240, 248);
    font-size: 30px;
  }
  
  .vertical-menu a {
    background-color: rgb(24, 27, 199); /* Grey background color */
    color: rgb(255, 253, 253); /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: rgb(171, 128, 250); /* Dark grey background on mouse-over */
  }
  .vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: rgb(255, 255, 255);
  }

  * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    }
    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }